extends base

block emailContent
  p Hola soy #{name},  
  p(style="overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:'Rubik',sans-serif;margin:10px 0px" align='center') #{message}
  p Adios